html
  head
    title JSGround
    link(href='/reset-css/reset.css', rel='stylesheet')
    link(href='/css/jsground.css', rel='stylesheet')

body

  #container
    #blocs

script(src='/js/socket.io-1.3.5.js')
script(src='/js/common.js')
script(src='/js/jsground.js')
script.
  window.onload = function () {
    var blocsAnchor = document.getElementById('blocs')
      , socket = io();
    new BlocManager(blocsAnchor, socket);
  };
